<div class="row">

	<div class="col-6">
		<app-grafico-dona 
			[leyenda]="graficos.grafico1.leyenda"
			[chartData]="graficos.grafico1.data"
			[chartLabels]="graficos.grafico1.labels"
			chartType="doughnut"
		>
		</app-grafico-dona>
	</div>
	<div class="col-6">
		<app-grafico-dona 
			[leyenda]="graficos.grafico2.leyenda"
			[chartData]="graficos.grafico2.data"
			[chartLabels]="graficos.grafico2.labels"
			chartType="doughnut"
		>
		</app-grafico-dona>
	</div>

</div>

<div class="row">

	<div class="col-6">
		<app-grafico-dona 
			[leyenda]="graficos.grafico3.leyenda"
			[chartData]="graficos.grafico3.data"
			[chartLabels]="graficos.grafico3.labels"
			chartType="doughnut"
		>
		</app-grafico-dona>
	</div>
	<div class="col-6">
		<app-grafico-dona 
			[leyenda]="graficos.grafico4.leyenda"
			[chartData]="graficos.grafico4.data"
			[chartLabels]="graficos.grafico4.labels"
			chartType="doughnut"
		>
		</app-grafico-dona>
	</div>

</div>
